root = true

[*.{fs,fsi}]
fsharp_space_before_uppercase_invocation=true
fsharp_space_before_member=true
fsharp_space_before_colon=true
fsharp_multiline_block_brackets_on_same_column=true
fsharp_newline_between_type_definition_and_members=true
fsharp_align_function_signature_to_indentation=true
fsharp_alternative_long_member_definitions=true
fsharp_max_infix_operator_expression=30
fsharp_max_function_binding_width=10
fsharp_max_value_binding_width=10
fsharp_max_if_then_else_short_width=50
fsharp_multi_line_lambda_closing_newline=true